<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/"><span class="fa fa-list-ul mr-3"></span>Aufgabenverwaltung</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      {{#if tasks}}
        <li class="nav-item"><a class="nav-link" href="/users/logout">Abmelden</a></li>
      {{else}}
        <li class="nav-item"><a class="nav-link" href="/users/sign-up">Registrieren</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/sign-in">Anmelden</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
