<li data-task-id="{{id}}" data-task-status="{{status}}" class="task flex-nowrap list-group-item">
  <span class="toggle-task">
    <span class="checked fa fa-lg fa-check"></span>
  </span>
  <span class="task-title" style="flex-grow:1">{{title}}</span>
  <span class="remove-task fa fa-lg fa-times"></span>
</li>
